@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #48c279;
  --accent: #0E78B8;
  --hover: #2e4057;
  --light-gray: #f1f1f1;
  --dark-gray: #acacac;
}

.active-nav {
  background-color: var(--accent);
  position: relative;
}

.active-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-left: 20px solid transparent;
  border-right: 20px solid var(--accent);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: -40px;
}

.hover-nav {
  position: relative;
}

.hover-nav:hover {
  background-color: var(--accent);
}

.hover-nav:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-left: 20px solid transparent;
  border-right: 20px solid var(--accent);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: -40px;
}
.d-container {
  @apply mx-8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--light-gray);
  box-shadow: 0 10px 25px var(--css-shadow);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary) !important;
}
